.visualization-container {
    font-family: var(--font-family), sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-lg);
    color: var(--color-text);
}

.full-width {
    grid-column: span 1;
}